<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[글쓰기]</title>
<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
<style>
.float-right {
	float: right !important;
}
</style>
<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
<script>
	$(document)
			.ready(
					function() {
						//여기 아래 부분
						$('#summernote')
								.summernote(
										{
											height : 500, // 에디터 높이
											minHeight : null, // 최소 높이
											maxHeight : null, // 최대 높이
											focus : true, // 에디터 로딩후 포커스를 맞출지 여부
											lang : "ko-KR", // 한글 설정
											placeholder : '최대 2048자까지 쓸 수 있습니다', //placeholder 설정
											toolbar : [
													// [groupName, [list of button]]
													[ 'fontname',
															[ 'fontname' ] ],
													[ 'fontsize',
															[ 'fontsize' ] ],
													[
															'style',
															[
																	'bold',
																	'italic',
																	'underline',
																	'strikethrough',
																	'clear' ] ],
													[
															'color',
															[ 'forecolor',
																	'color' ] ],
													[ 'table', [ 'table' ] ],
													[
															'para',
															[ 'ul', 'ol',
																	'paragraph' ] ],
													[ 'height', [ 'height' ] ],
													[
															'insert',
															[ 'picture',
																	'link',
																	'video' ] ],
													[ 'view', [ 'help' ] ] ],
											fontNames : [ 'Arial',
													'Arial Black',
													'Comic Sans MS',
													'Courier New', '맑은 고딕',
													'궁서', '굴림체', '굴림', '돋움체',
													'바탕체' ],
											fontSizes : [ '8', '9', '10', '11',
													'12', '14', '16', '18',
													'20', '22', '24', '28',
													'30', '36', '50', '72' ],
											callbacks : {
												onImageUpload : function(files,
														editor, welEditable) {
													for (var i = 0; i < files.length; i++) {
														sendFile(files[i], this);
													}
												}
											}
										});

					});

	function sendFile(file, editor) {
		var form_data = new FormData();
		form_data.append('file', file);
		$.ajax({
			data : form_data,
			type : "POST",
			url : '/summerimages',
			cache : false,
			contentType : false,
			enctype : 'multipart/form-data',
			processData : false,
			success : function(url) {
				$(editor).summernote('insertImage', url, function($image) {
					$image.css('width', "25%");
				});
			}
		});
	}
</script>
</head>
<body>
	<!-- 컨텐츠 -->
	<section layout:fragment="content">
		<div class="container center pt-4">
			<div class="px-3">
				<form action="/boardWrite" method="post"
					enctype="multipart/form-data">

					<div class="col-md-auto">
						<div class="card card-primary card-outline">
							<div class="card-header">
								<h3 class="card-title">글쓰기</h3>
							</div>

							<div class="card-body">
								<div class="form-group">
									<input name="title" id="title" class="form-control"
										placeholder="제목">
								</div>

								<div class="form-group">
									<textarea id="summernote" name="content" class="form-control">
                    </textarea>
								</div>

								<div class="form-group">
									<div class="btn">
										<input class="form-control" type="file" name="file">
									</div>
								</div>
							</div>

							<div class="card-footer">
								<div class="float-right">
									<input class="btn btn-primary" type="submit" value="등록">
									<input class="btn btn-danger" type="button" value="취소"
										onclick="javascript:history.back()">
								</div>
							</div>

						</div>
					</div>

					<input th:value="${id}" type="hidden" name="boardType">
				</form>
			</div>
		</div>
	</section>

</body>
</html>