<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<style>
.float-right {
	float: right !important;
}
</style>
<title>[글]</title>
<script>
	function handleKeyDown(event) {
		if (event.keyCode === 13) {
			switch (event.target.id) {
			case 'replyText':
				insertReply();
				break;
			case 'replyText2':
				updateReply();
				break;
			}
		}
	}
</script>
<script src="/js/boardRead.js"></script>
</head>
<body>
	<!-- 컨텐츠 -->
	<section layout:fragment="content">
		<div class="col-md-auto pt-4">
			<div class="px-3">
				<div th:object="${board}" class="container center">
					<div class="card card-primary card-outline">
						<div class="card-header">
							<div>
								<h4 class="card-title">
									<span th:text="[+*{boardType}+]"></span> <span
										th:text="*{title}"></span>
								</h4>
							</div>
							<div class="float-right">
								<span>조회 <span th:text="*{viewCount}"></span></span> 
								<!--  
								<span th:text="'댓글 '+*{replyCount}">댓글 3</span>
											-->
							</div>
							&nbsp;<span><em th:text="*{userId}">작성자</em> &nbsp; &#124;
								&nbsp;</span> <span th:text="*{inputDate}">2023.04.23 11:00:21</span>
						</div>
						<div class="card-body">
							<div th:utext="*{content}"
								style="overflow: hidden; width: 900px;"></div>
						</div>
						<hr>
						<div class=" d-flex justify-content-start"
							style="margin-left: 10px;">
							<span th:text="|첨부파일 없습니다.|" th:unless="*{originalFile != null}"></span>
							<div th:if="*{originalFile != null}">
								<a th:if="*{originalFile != null}"
									th:href="@{|/download?boardNum=*{id}|}"> <span
									th:text="*{originalFile}"></span> <img
									th:if="${#strings.endsWith(board.savedFile,'jpg') or #strings.endsWith(board.savedFile,'png') or #strings.endsWith(board.savedFile,'gif')}"
									th:src="@{|/display?boardNum=*{id}}|" width="20">
								</a>
							</div>
						</div>

						<div class="card-footer">

							<div class="float-right"
								th:if="${#authentication.principal.userId} == ${board.userId}">
								<a th:href="@{|/boardUpdate?boardNum=${board.id}}|"
									class="btn btn-secondary">수정</a> <a
									th:href="@{|/boardDelete?boardNum=${board.id}}|"
									class="btn btn-secondary"
									onclick="javascript:return confirm('삭제 하시겠습니까?')">삭제</a>
							</div>
						</div>
					</div>
					<br>
					<div>

						<div class="card-body container center">
							<div sec:authorize="hasAnyRole('ADMIN','EMP')">
								<!-- Comment -->
								<textarea id="replyText" class="form-control" rows="3"
									placeholder="댓글을 입력하세요." onkeydown="handleKeyDown(event)"></textarea>
								<textarea id="replyText2" class="form-control" rows="3"
									placeholder="댓글을 입력하세요." onkeydown="handleKeyDown(event)"></textarea>
								<br> <input type="hidden" id="selectedReply" value="">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<!-- 댓글 구역 -->
		<div th:if="${board.boardType == 'complain'}" id="reList"></div>
		<div sec:authorize="hasAnyRole('ADMIN','EMP')" id="reList"></div>
		<div id="paging"></div>
		<input type="hidden" id="boardNum" th:value=${board.id}>
		<input type="hidden" id="login" th:value="${#authentication.principal.userId}">
	</section>
</body>
</html>