<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src = "js/jquery-3.6.3.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<title>[회원가입하기]</title>
<script>
	$(document).ready(function(){
		$("#id").on("keyup", function(){
			//this : #userId 요소
			// id입력창에 입력된 값 가져오기
			let currentValue = $(this).val();
			console.log(currentValue);
			// ajax로 서버에서 같은 아이디가 있는지 확인하기
			$.ajax({
				url : "/checkId",
				method : "post",
				data : {"userId" : currentValue},
				success : function(result){
					// 있으면 있다고 표시
					// 없으면 없다고 표시
					if(result == "OK"){
						$("#msg").text("사용 가능한 ID입니다.");
					}else if (result == "NG"){
						$("#msg").text("사용 중인 ID입니다.");
					}
					
				}
			});
		});
	});
	// 회원가입 입력창 검증하는 함수
	// 유효하면 -> 서버로 보냄 아니면 -> 여기서 머무름
	function checkValue() {
		// ID가 비어있거나 3~10자가 아니면 무효
		// 비밀번호가 비어있거나 4~8글자가 아니면 무효
		// 비밀번호 입력창과 비밀번호 확인창의 값이 다르면 무효
		// 이름이 없거나 한글자, 7자이상 무효
		// 이름에 숫자 들어있으면 무효
		// 이메일이 비어있으면 무효
		let userIdValue = document.getElementById("id").value;
		let pw1Value = document.getElementById("pw1").value;
		let pw2Value = document.getElementById("pw2").value;
		let nameValue = document.getElementById("name").value;
		let emailValue = document.getElementById("email").value;
		let phoneValue = document.getElementById("phone").value;
		
		let namesplit = nameValue.split("");
		
		
		if (userIdValue === '' || userIdValue.length < 3 || userIdValue > 10) {
			alert("잘못된 아이디입니다.");
			document.getElementById("id").focus(); 
			return false;
		}
		
		if (pw1Value === '' || pw1Value.length < 4 || pw1Value.length > 15) {
			alert("비밀번호는 4자이상 15자 이하입니다.");
			document.getElementById("pw1").focus(); 
			return false;
		}
		
		if (pw2Value !== pw1Value) {
			alert("비밀번호가 일치하지 않습니다.");
			document.getElementById("pw2").focus(); 
			return false;
		}
		
		if (nameValue === '' || nameValue.length == 1 || nameValue.length > 7) {
			alert("잘못된 이름입니다.");
			document.getElementById("name").focus(); 
			return false;
		}
		
		for(let i = 0; i < namesplit.length; i++) {
			if(!isNaN(namesplit[i])) {
				alert("이름에는 숫자가 입력되지 않습니다.");
				document.getElementById("name").focus(); 
				return false;
			}	
		}
		
		if (emailValue === '') {
			alert("이메일을 입력하세요.");
			document.getElementById("email").focus();
			return false;
		}
		
		if (phoneValue === '' || phoneValue.length <7 || phoneValue.length > 15) {
			alert("잘못된 전화번호입니다.");
			document.getElementById("phone").focus(); 
			return false;
		}
		
		//아이디 중복확인 했는지?
		let checkIdMsg = document.getElementById("msg").innerText;
		if(!checkIdMsg.includes("가능")){
			alert("유효하지 않은 아이디 입니다.");
			return false;
		}
		
		alert("승인 후 로그인이 가능합니다!");
	}
	
</script>
</head>
<body>
<br><br><br><br>
<div class="container d-flex justify-content-center align-items-center flex-column">
        <div class="text-center mb2"><img src="/img/logo (2).png" style="width:200px; height:100px;"></div>
<form action="/insert" method="post" onsubmit = "return checkValue();"  class="insert-form needs-validation justify-content-center row">
	<table class="col-10">
		<tr>
			<th class="form-label">아이디</th>
			<td>
				<input name="userId" type = "text" id = "id" class="form-control">
				<span id="msg"></span>
			</td>
		</tr>
		<tr>
			<th>비밀번호</th>
			<td>
				<input name="userPw" type = "password" id = "pw1" class="form-control">
			</td>
		</tr>
		<tr>
			<th>비밀번호 확인</th>
			<td>
				<input type = "password" id = "pw2" class="form-control">
			</td>
		</tr>
		<tr>
			<th>이름</th>
			<td>
				<input name="userName" type = "text" id = "name" class="form-control">
			</td>
		</tr>
		<tr>
			<th>이메일</th>
			<td>
				<!-- input type = "email" 속성은 입력된 값이 메일주소 형식인지 꼼꼼하게 체크한다 -->
				<input name="email" type = "text" id = "email" class="form-control">
			</td>
		</tr>
		<tr>
			<th>전화번호</th>
			<td>
				<input name="phone" type = "tel" id = "phone" class="form-control">
			</td>
		</tr>
		<tr style="text-align: center;">
			<td><input name="roleName" type="radio" value="ROLE_EMP" checked class="form-check-input">영업사원</td>
			<td><input name="roleName" type="radio" value="ROLE_USER" class="form-check-input">개인 사업자</td>
		</tr>
		<tr style="text-align: center;">
			<th colspan = "2">
				<input type = "submit" value = "가입하기" class="col-5 my-2 btn btn-secondary">
		</tr>	
	</table>
</form>
</div>
</body>
</html>