<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[회원 정보 확인]</title>
<script>
	
	function checkValue() {
		
		
		let pw1Value = document.getElementById("pw").value;
		
		if (pw1Value === '' || pw1Value.length < 4 || pw1Value.length > 15) {
			alert("비밀번호는 4자이상 15자 이하입니다.");
			document.getElementById("pw").focus(); 
			return false;
		}
		
	}
	
</script>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<style type="text/css">
table {
  border-spacing: 10px;
  border-collapse: separate;
}
</style>
</head>
<body>
<section layout:fragment="content">
<div class="container-fluid p-4">
<div class="px-4">
<h4 style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;회원정보 확인</h4><br>
<form action="/reauthenticate" method="post" onsubmit = "return checkValue()">
	<table>
		<tr>
			<th>비밀번호</th>
			<td>
				<input name="pw" type = "password" id = "pw" placeholder="비밀번호를 입력하세요" class="form-control">
			</td>
		</tr>
		<tr>
			<th colspan = "2" style="text-align: center;">
				<input type = "submit" value = "비밀번호 확인" class="btn btn-secondary">
		</tr>
	</table><br>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span th:if = "${msg != null}" th:text = "${msg}" id = "message"></span>
</form>
</div>
</div>
</section>
</body>
</html>