.insert-form{
    justify-content: center;
    border: 3px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    width:390px;
}

img{
    width: 150px;
}

.new-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
