html, body {
height: 100%;
margin: 0;
padding: 0;
}

/* @keyframes 규칙을 선택자 외부에 빼냅니다. */
	@keyframes transY {
	0% {
	    transform: translateY(400px);
	    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
	}
}

/* 애니메이션을 적용하고자 하는 요소에 .image 클래스를 추가합니다. */
.image {
    height: 100%;
    background-size: cover;
    background-image: url('/img/hotelphoto.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: transY 2s ease-in-out;
    z-index: -1; /* 다른 요소보다 뒤에 표시되도록 설정 */
}

.image::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.6; /* 배경 이미지의 투명도를 조절 */
}

.container {
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}


.login-form{
border: 3px solid white;
padding: 40px;
background-color: white;
border-radius: 30px;
width: 360px;

}
#error{
    color : red;
    font-size: small;
}

