<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>[SVS]</title>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<!-- Bootstrap core JS-->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="/js/Myscript.js"></script>
<script src="/js/jquery-3.6.3.min.js"></script>

</head>
<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-right bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading border-bottom bg-white">
				<a href="/"
					class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
					<svg class="bi me-2" width="35" height="32"></svg> <span
					class="fs-6"><img src="/img/logo (2).png" width="71.5px"></span>
				</a>
			</div>
			<div class="list-group list-group-flush">
				<div sec:authorize="hasAnyRole('ADMIN','EMP')">
					<a href="/infoBusiness"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/hotel.png">
					    </svg> 업체관리
					</a>
				</div>

				<div sec:authorize="hasRole('USER')">
					<a href="/infoBusiness"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/hotel.png">
					    </svg> 내 사업체 정보
					</a>
				</div>

				<div sec:authorize="hasAnyRole('ADMIN','EMP')">
					<a th:href="@{/boardList(id='notice')}"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/notice_icon.png">
					    </svg> 공지
					</a>
				</div>
				<div sec:authorize="hasAnyRole('ADMIN','EMP')">
					<a th:href="@{/boardList(id='emp')}"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/emp_board_icon.png">
					    </svg> 직원게시판
					</a>
				</div>
				<div>
					<a th:href="@{/boardList(id='complain')}"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/complain_icon.png">
					    </svg> 민원
					</a>
				</div>
				<div>
					<a href="/reservation"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/clock.png">
					    </svg> 예약통계
					</a>
				</div>
				<div>
					<a href="/predict"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/statics.png">
					    </svg> 통계분석
					</a>
				</div>
				<div sec:authorize="hasRole('ADMIN')">
					<a href="/adminapproval"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/user.png">
					    </svg> 회원목록관리
					</a>
				</div>
				<div>
					<a href="/"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/home.png">
					    </svg> 홈화면
					</a>
				</div>

			</div>
		</div>
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
				<button class="btn btn-lg" id="sidebarToggle">
					<span class="navbar-toggler-icon" ></span>
				</button>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
							<li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
								role="button" data-bs-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" th:text="|${#authentication.principal.userName}님 환영합니다|"></a>
								<div class="dropdown-menu dropdown-menu-end"
									aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/myinfo">회원정보</a> <a
										class="dropdown-item" onclick="confirmLogout()">로그아웃</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#!">Something else here</a>
								</div></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Page content-->
			<div class="flex-grow-1">
				<section layout:fragment="content">
					<p>Page content goes here</p>
				</section>
			</div>

		</div>
	</div>
</body>
</html>
