<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[통계분석]</title>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e9161bd2e86767fca11d66f25f45237a&libraries=services"></script>

<link href="/css/predict.css" rel="stylesheet" />

<script>
	$(function() {
		$("#btn").on('click', predict);
	})

	function predict() {
		let platform = $("#platform").val();
		let name = $("#businessNameInput").val();
		let address = $("#businessAddressInput").val();
		let room = $("#roomSelect").val();
		let date = $("#demo").val();

		let sendData = {
			'platform' : platform,
			'name' : name,
			'address' : address,
			'room' : room,
			'date' : date
		}
		// alert(JSON.stringify(sendData));
		$.ajax({
			method : 'POST',
			url : 'predict',
			data : sendData,
			success : function(resp) { // resp = {"predict_result" : "setosa"}
				//$("#result").css("color", "red");
				//$("#result").text(resp["predict_result"])
				alert(resp["predict_result"]+"원");
				
			}
		});
	}
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container-fluid p-4 custom-container">
			<div class="row" style="padding: 50px;">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<!-- 좌측 내용 -->
					<div class=" card">
						<div id="map" style="width: 100%; height: 480px;"></div>
					</div>
				</div>
				<!-- 중앙공간 나누기 -->
				<div
					class="col-auto d-flex align-items-center justify-content-center"
					style="margin: 0px; padding: 0px">
					<div class="vertical-line flex-grow-0"></div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<!-- 우측 내용 -->
					<div class="card d-flex justify-content-center"
						style="height: 500px;">
						<div class="card-header text-center">숙박요금 예측</div>
						<div class="card-body">
							<ul>
								<li class="mb-4"><label for="petalLength">펜션 이름</label> <input
									type="text" id="businessNameInput" name="name" readonly></li>
								<li class="mb-4"><label for="petalLength">객실 선택</label> <select
									id="roomSelect" name="roomSelect">
										<option value="">객실을 선택하세요</option>
								</select></li>
								<li class="mb-4"><label for="petalLength">주소</label> <input
									type="text" id="businessAddressInput" name="address" readonly></li>
									
								<li class="mb-4"><label for="petalLength">플랫폼</label> <select
									id="platform" name="platform">
										<option value="네이버">네이버</option>
										<option value="떠나요">떠나요</option>
								</select></li>
								
								<li class="mb-4"><label for="petalLength">숙박기간</label> <input
									type="text" id="demo" name="demo" placeholder="날짜를 선택하세요"></li>
							</ul>
						</div>
						<div class="card-footer text-body-secondary text-center">
							<input type="button" class="btn btn-primary" id="btn"
								value="두뇌 풀가동">
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			var businessAddress = [
			/*[# th:each="b : ${business}"]*/
			/*[[${b.businessAddress}]]*/,
			/*[/]*/
			];

			var businessName = [
			/*[# th:each="b : ${business}"]*/
			/*[[${b.businessName}]]*/,
			/*[/]*/
			];
		</script>
		<script src=/js/predict.js></script>
	</section>
</body>
</html>
