<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[통계분석]</title>
<script
	src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script src="/js/jquery-3.6.3.min.js"></script>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<script>
	$(function(){
		$("#btn").on('click', predict)
	})
	
	function predict() {
        let name = $("#name").val();
        let person = $("#person").val();
        let weight = $("#weight").val();
        let address = $("#address").val();
        let isWeek = $("#isWeek").val();
        let saturday = $("#saturday").val();
        let days = $("#days").val();
        let month = $("#month").val();
		
		let sendData = {
		    'name': name,
		    'person': person,
		    'weight': weight,
		    'address': address,
		    'isWeek': isWeek,
		    'saturday': saturday,
		    'days': days,
		    'month': month
		}
		// alert(JSON.stringify(sendData));
		$.ajax({
			method : 'POST'
			, url  : 'predict'
			, data : sendData
			, success : function(resp) { // resp = {"predict_result" : "setosa"}
				$("#result").css("color", "red");
				$("#result").text(resp["predict_result"])
			}
		})
	}
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container-fluid p-4">
			<div class="px-4">
				<h2>[ 숙박업소 가격예측 ]</h2>
				<form>
					<ul>
						<li><label for="petalLength">펜션 이름</label> <input type="text"
							id="name" name="name"></li>
						<li><label for="petalLength">최대인원</label> <input type="text"
							id="person" name="person"></li>
						<li><label for="petalLength">객실상세 가중치</label> <input
							type="text" id="weight" name="weight"></li>
						<li><label for="petalLength">주소</label> <input type="text"
							id="address" name="address"></li>
						<li><label for="petalLength">주말포함여부</label> <input
							type="text" id="isWeek" name="isWeek"></li>
						<li><label for="petalLength">토요일체크아웃여부</label> <input
							type="text" id="saturday" name="saturday"></li>
						<li><label for="petalLength">숙박일</label> <input type="text"
							id="days" name="days"></li>
						<li><label for="petalLength">해당월</label> <input type="text"
							id="month" name="month"></li>

						<li><input type="button" id="btn" value="분류하기"></li>
					</ul>
				</form>
				<h3>
					분류 결과 : <span id="result"></span>
				</h3>

			</div>
		</div>


	</section>
</body>
</html>
