<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[통계분석]</title>
<script
	src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script src="/js/jquery-3.6.3.min.js"></script>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<script>
	$(function(){
		$("#btn").on('click', predict);
	})
	
	function predict() {
        let platform = $("#platform").val();
        let name = $("#name").val();
        let address = $("#address").val();
        let room = $("#room").val();
        let checkIn = $("#checkIn").val();
        let checkOut = $("#checkOut").val();
		
		let sendData = {
			    'platform': platform,
			    'name': name,
			    'address': address,
			    'room': room,
			    'checkIn': checkIn,
			    'checkOut': checkOut
		}
		// alert(JSON.stringify(sendData));
		$.ajax({
			method : 'POST'
			, url  : 'predict'
			, data : sendData
			, success : function(resp) { // resp = {"predict_result" : "setosa"}
				$("#result").css("color", "red");
				$("#result").text(resp["predict_result"])
			}
		})
	}
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container-fluid p-4">
			<div class="px-4">
				<h2>[ 숙박업소 가격예측 ]</h2>
				<form>
					<ul>
						<li><label for="petalLength">플랫폼</label> <input type="text"
							id="platform" name="platform"></li>
						<li><label for="petalLength">이름</label> <input type="text"
							id="name" name="name"></li>
						<li><label for="petalLength">주소</label> <input type="text"
							id="address" name="address"></li>
						<li><label for="petalLength">방</label> <input type="text"
							id="room" name="room"></li>
						<li><label for="petalLength">체크인</label> <input type="text"
							id="checkIn" name="checkIn"></li>
						<li><label for="petalLength">체크아웃</label> <input type="text"
							id="checkOut" name="checkOut"></li>

						<li><input type="button" id="btn" value="분류하기"></li>
					</ul>
				</form>
				<h3>
					분류 결과 : <span id="result"></span>
				</h3>

			</div>
		</div>


	</section>
</body>
</html>
