<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>사업장 정보</title>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<style>
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: RGB(221, 38, 22);
  }
</style>
</head>
<body>
	<section layout:fragment="content">
	<br>
	<div class="mx-auto">
		<div class="container-fluid px-4 pt-4">
		<table class="table table-hover">
			<thead class="table-light">
				<tr>
					<th scope="col">등록 번호</th>
					<th scope="col">상호명</th>
					<th scope="col">대표</th>
					<th scope="col">주소</th>
					<th scope="col">연락처</th>
					<th scope="col">수정</th>
				</tr>
			</thead>
			<tbody sec:authorize="!hasRole('USER')">
	 			<tr th:each = "b : ${blist}">
					<td scope="row"><span th:text="${b.id}"></span></td>
					<td><span th:text="${b.businessName}"></span></td>
					<td><span th:text="${b.member.userName}"></span></td>
					<td><a href="" th:bNum="${b.id}" th:onclick="window.open('popup/'+(this.getAttribute('bNum')), '주소 상세보기', 'width=600, height=600, scrollbars=no');">
    					<span th:text="${b.businessAddress}"></span></a></td>
					<td><span th:text="${b.phone}"></span></td>
					<td>
						<a th:href="@{/updateBusiness/{id}(id=${b.id})}">수정</a>
					</td>
				</tr>
			</tbody>
			<tbody sec:authorize="hasRole('USER')">
	 			<tr th:each = "b : ${blist}" th:with="user=${#authentication.principal.userId}">
					<td scope="row" th:if="${user eq b.userId}"><span th:text="${b.id}"></span></td>
					<td th:if="${user eq b.userId}"><span th:text="${b.businessName}"></span></td>
					<td th:if="${user eq b.userId}"><span th:text="${b.member.userName}"></span></td>
					<td th:if="${user eq b.userId}"><a href="" th:id="${b.id}" th:onclick="window.open('popup/'+(this.getAttribute('id')), '주소 상세보기', 'width=600, height=600, scrollbars=no');">
    					<span th:text="${b.businessAddress}"></span></a></td>
					<td th:if="${user eq b.userId}"><span th:text="${b.phone}"></span></td>
					<td th:if="${user eq b.userId}">
						<a th:href="@{/updateBusiness/{businessNum}(businessNum=${b.id})}">수정</a>
					</td>
				</tr>
			</tbody>
		</table><br>
	<div sec:authorize="hasRole('USER')"><a href="insertBusiness">사업장 정보 추가</a></div>
	<div sec:authorize="!hasRole('USER')">
		<form action="infoBusiness" method="get">
		<div class="d-flex flex-row bd-highlight mb-3 w-50">
			<select name="category" class="form-select" style="width: 10vw;">
				<option value="businessName" th:selected="${category == 'businessName'}">상호명</option>
				<option value="businessAddress" th:selected="${category == 'businessAddress'}">주소</option>
				<option value="userName" th:selected="${category == 'userName'}">대표</option>
			</select>
			<div class="mx-2" style="width: 20vw;">
				<input type="text" name="keyword" th:value="${keyword}" placeholder="검색어를 입력해주세요." class="form-control me-2 ">
			</div>
			<input type="submit" value="검색" class="btn btn-secondary">
		</div>
		</form>
	</div>
		</div>
	</div>
</section>
</body>
</html>